.cms-plugin-admin-layout__content {
    box-sizing: border-box;
    padding: 25px;
}

.cms-plugin-admin-layout .admin-page-header {
    margin-bottom: 24px;
}

.cms-plugin-admin-layout .admin-card {
    margin-bottom: 24px;
}

.cms-plugin-admin-layout .alert {
    margin-bottom: 16px;
}
